<!DOCTYPE html>
<!--
  nayar/app/templates/index.handlebars
  https://github.com/thomasrstorey/nayar

  Copyright (c) 2015 thomasrstorey
  Licensed under the MIT license.
-->
<html>
  {{> head}}
    <div class="row">
      <h2>Layers</h2>
    {{#if layers}}
    <button id="top-add" class="button-primary" onclick="addNew({table:'layer'});">
      <i class="fa fa-plus-square-o"></i> New Layer
    </button>
    <table>
      <tr id="header-row">
        <th>ID</th><th>Name</th><th>Type</th><th>Delete</th>
      </tr>
    {{#each layers}}
      <tr>
        <td class="data-link" table="layer" data-id="{{this.id}}">{{this.id}}</td>
        <td class="data-link" table="layer" data-id="{{this.id}}">{{this.layer}}</td>
        <td class="data-link" table="layer" data-id="{{this.id}}">{{this.poiType}}</td>
        <td ><i class="fa fa-trash delete-row" table="layer" data-id="{{this.id}}"></i></td>
      </tr>
    {{/each}}
    </table>
    {{else}}
    <p><strong>No layers yet.</strong></p>
    {{/if}}
    <button id="bottom-add" class="button-primary" onclick="addNew({table:'layer'});">
      <i class="fa fa-plus-square-o"></i> New Layer
    </button>
    </div>
  {{> foot}}
</html>
