<!DOCTYPE html>
<!--
  nayar/app/templates/index.handlebars
  https://github.com/thomasrstorey/nayar

  Copyright (c) 2015 thomasrstorey
  Licensed under the MIT license.
-->
<html>
  {{> head}}
    <div class="row">
      <h2>New {{table}}</h2>
    {{#if layer}}
    <form id="new" method="post" action="./">
      <div class="row">
        <div class="twelve columns">
          <label>Layer Name</label>
          <input class="u-full-width" type="text" name="layer" />
        </div>
      </div>
      <div class="row">
        <div class="eight columns">
          <label>Refresh Interval</label>
          <input class="u-full-width" type="number" name="refreshInterval"/>
        </div>
        <div class="four columns">
          <label>Full Refresh</label>
          <input type="checkbox" name="fullRefresh" value="1"/>
        </div>
      </div>
      <div class="row">
        <div class="eight columns">
          <label>Message</label>
          <input class="u-full-width" type="text" name="showMessage"/>
        </div>
        <div class="four columns">
          <label>POI Type</label>
          <select class="u-full-width" name="poiType">
            <option value="geo">geo</option>
            <option value="vision">vision</option>
          </select>
        </div>
      </div>
    </form>
    {{/if}}

    {{#if object}}
    <form id="new" method="post" action="./">
      <div class="row">
        <div class="row">
          <div class="four columns">
            <label>Content Type</label>
            <input class="u-full-width" type='text' name='contentType'/>
          </div>
          <div class="eight columns">
            <label>URL</label>
            <input class="u-full-width" type='url' name='url'/>
          </div>
        </div>
        <div class="row">
          <div class="four columns">
            <label>Size</label>
            <input class="u-full-width" type='number' name='size'/>
          </div>
          <div class="eight columns">
            <label>Preview Image</label>
            <input class="u-full-width" type='text' name='previewImage'/>
          </div>
          <input class="u-full-width" type='hidden' name='poiID' value='{{poiID}}'/>
        </div>
      </div>
    </form>
    {{/if}}

    {{#if transform}}
    <form id="new" method="post" action="./">
      <div class="row">
        <div class="two columns">
      <label>Relative?</label>
      <input type='checkbox' name='rel' value="1"/>
      </div><div class="ten columns">
      <label>Angle</label>
      <input class="u-full-width" type='number' name='angle'/>
      </div></div>
      <div class="row">
      <label>Rotation</label>
      <div class="row">
        <div class="four columns">
      <input class="u-full-width" type='number' name='rotate_x' placeholder='x'/>
    </div><div class="four columns">
      <input class="u-full-width" type='number' name='rotate_y' placeholder='y'/>
      </div><div class="four columns">
      <input class="u-full-width" type='number' name='rotate_z' placeholder='z'/>
    </div></div><div class="row">
      <label>Translation</label>
      <div class="row">
        <div class="four columns">
      <input class="u-full-width" type='number' name='translate_x' placeholder='x'/>
      </div><div class="four columns">
      <input class="u-full-width" type='number' name='translate_y' placeholder='y'/>
      </div><div class="four columns">
      <input class="u-full-width" type='number' name='translate_z' placeholder='z'/>
    </div></div><div class="row">
      <label>Scale</label>
      <div class="row">
        <div class="three columns">
      <input class="u-full-width" type='number' name='scale_x' placeholder='x'/>
    </div><div class="three columns">
      <input class="u-full-width" type='number' name='scale_y' placeholder='y'/>
    </div><div class="three columns">
      <input class="u-full-width" type='number' name='scale_z' placeholder='z'/>
    </div><div class="three columns">
      <input class="u-full-width" type='number' name='scale' placeholder='uniform'/>
      <input type='hidden' name='poiID' value='{{poiID}}'/>
    </div></div></div>
    </form>
    {{/if}}

    {{#if animation}}
    <form id="new" method="post" action="./">
      <div class="row">
        <div class="three columns">
      <label>Event</label>
      <select class="u-full-width" name='event'>
      <option value='onCreate'>onCreate</option>
      <option value='onUpdate'>onUpdate</option>
      <option value='onFocus'>onFocus</option>
      <option value='onClick'>onClick</option>
      <option value='onDelete'>onDelete</option>
    </select>
  </div><div class="three columns">
      <label>Type</label>
      <select class="u-full-width" name='type'>
      <option value='translate'>translate</option>
      <option value='rotate'>rotate</option>
      <option value='scale'>scale</option>
    </select>
    </div><div class="three columns">
      <label>Length</label>
      <input class="u-full-width" type='number' name='length'/>
      </div><div class="three columns">
      <label>Delay</label>
      <input class="u-full-width" type='number' name='delay'/>
    </div></div>

      <div class="row">
        <div class="three columns">
      <label>Interpolation</label>
      <select class="u-full-width" name='interpolation'>
      <option value='linear'>linear</option>
      <option value='accelerateDecelerate'>accelerateDecelerate</option>
      <option value='accelerate'>accelerate</option>
      <option value='decelerate'>decelerate</option>
      <option value='bounce'>bounce</option>
      <option value='cycle'>cycle</option>
      <option value='anticipateOvershoot'>anticipateOvershoot</option>
      <option value='anticipate'>anticipate</option>
      <option value='overshoot'>overshoot</option>
    </select>
    </div><div class="three columns">
      <label>Interpolation Param</label>
      <input class="u-full-width" name='interpolationParam' type='number'/>
    </div><div class="one column">
      <label>Persist</label>
      <input class="u-full-width" name='persist' type='checkbox' value="1"/>
    </div><div class="one column">
      <label>Repeat</label>
      <input class="u-full-width" name='repeat' type='checkbox' value="1"/>
    </div><div class="two columns">
      <label>From</label>
      <input class="u-full-width" name='from' type='number'/>
    </div><div class="two columns">
      <label>To</label>
      <input class="u-full-width" name='to' type='number'/>
    </div></div>

      <div class="row">
      <label>Axis</label>
      <div class="row">
        <div class="four columns">
      <input class="u-full-width" name='axis_x' type='number' placeholder='x'/>
      </div><div class="four columns">
      <input class="u-full-width" name='axis_y' type='number' placeholder='y'/>
      </div><div class="four columns">
      <input class="u-full-width" name='axis_z' type='number' placeholder='z'/>
      <input type='hidden' name='poiID' value='{{poiID}}'/>
    </div></div></div>
    </form>
    {{/if}}

    {{#if action}}
    <form id="new" method="post" action="./">
      <div class="row">
        <div class="four columns">
      <label>URI</label>
      <input class="u-full-width" name='uri' type='text'/>
    </div><div class="four columns">
      <label>Label</label>
      <input class="u-full-width" name='label' type='text'/>
    </div><div class="four columns">
      <label>Content Type</label>
      <input class="u-full-width" name='contentType' type='text'/>
    </div></div>

      <div class="row">
        <div class="four columns">
      <label>Method</label>
      <select class="u-full-width" name='method'>
      <option value='GET'>GET</option>
      <option value='POST'>POST</option>
    </select>
    </div><div class="four columns">
      <label>Parameters</label>
      <input class="u-full-width" name='params' type='text'/>
      </div><div class="four columns">
      <label>Activity Type</label>
      <input class="u-full-width" name='activityType' type='number'/>
    </div></div>
    <div class="row">
      <div class="one column">
      <label>Show Activity?</label>
      <input name='showActivity' type='checkbox' value="1"/>
    </div><div class="two columns">
      <label>Auto Trigger Only?</label>
      <input name='autoTriggerOnly' type='checkbox' value="1"/>
      </div><div class="eight columns">
      <label>Activity Message</label>
      <input class="u-full-width" name='activityMessage' type='text'/>
      </div><div class="one column">
      <label>Auto Trigger</label>
      <input name='autoTrigger' type='checkbox' value="1"/>
      <input type='hidden' name='poiID' value='{{poiID}}'/>
    </div></div>
    </form>
    {{/if}}

    {{#if poi}}
    <form id="new" method="post" action="./">
      <div class="row">
        <div class="row">
          <label>Layer ID</label>
          {{#if layerID}}
          <input type="number" name="layerID" value="{{layerID}}"/>
          {{else}}
          <input type="number" name="layerID"/>
          {{/if}}
        </div>
        <div class="row">
          <div class="row">
          <h5>Object</h5>
          <button form="poi-object-form" table="object" class="form-toggle"><i class="fa fa-cube"></i> Add Object</button>
          <div id="poi-object-form-container" class="optional-form-container">

          </div></div>
          <div class="row">
          <h5>Transform</h5>
          <button form="poi-transform-form" table="transform" class="form-toggle"><i class="fa fa-arrows"></i> Add Transform</button>
          <div id="poi-transform-form-container" class="optional-form-container">


          </div></div>
          <div class="row">
          <h5>Animations</h5>
          <button form="poi-animation-form" table="animation" class="form-toggle"><i class="fa fa-play-circle-o"></i> Add Animation</button>
          <div id="poi-animation-form-container" class="optional-form-container">

          </div></div>
          <div class='row'>
          <h5>Actions</h5>
          <button form="poi-action-form" table="action" class="form-toggle"><i class="fa fa-hand-pointer-o"></i> Add Action</button>
          <div id="poi-action-form-container" class="optional-form-container">

          </div></div>
        </div>
        <div class="row">
          <label>POI Type</label>
          <select id="select-poitype" name="poiType">
            <option value="geo" selected>geo</option>
            <option value="vision">vision</option>
          </select>
        </div>
        <div class="row">
          <div id="geo-poi-params-container">
            <div class="row">
              <div class="five columns">
                <label>Geolocation</label>
                <input type="number" name="lat"><input type="number" name="lon">
              </div>
              <div class="seven columns">
                <label>Title</label>
                <input class="u-full-width" type="text" name="title">
              </div>
            </div>
            <div class="row">
              <div class="seven columns">
                <label>Description</label>
                <input class="u-full-width" type="text" name="description">
              </div>
              <div class="five columns">
                <label>Footnote</label>
                <input class="u-full-width" type="text" name="footnote">
              </div>
            </div>
            <div class="row">
              <div class="six columns">
                <label>Image URL</label>
                <input class="u-full-width" type="url" name="imageURL">
              </div>
              <div class="two columns">
                <label>Show Small Brief Information Widget?</label>
                <input type="checkbox" name="showSmallBiw" checked value="1">
              </div>
              <div class="two columns">
                <label>Show Brief Information Widget on click?</label>
                <input type="checkbox" name="showBiwOnClick" checked value="1">
              </div>
              <div class="two columns">
                <label>Brief Information Widget Style</label>
                <select class="u-full-width" name="biwStyle">
                  <option value="classic">classic</option>
                  <option value="collapsed">collapsed</option>
                </select>
              </div>
            </div>
            <div class="row">
              <div class="eight columns">
                <label>Icon URL</label>
                <input class="u-full-width" type="url" name="icon_url">
              </div>
              <div class="two columns">
                <label>Icon Type</label>
                <input class="u-full-width" type="number" name="icon_type" value="0">
              </div>
              <div class="two columns">
                <label>In Focus</label>
                <input type="checkbox" name="inFocus">
              </div>
            </div>
          </div>
        </div>
        <div class="row">
          <div class="twelve columns">
            <div id="vision-poi-params-container">
              <label>Reference Image</label>
              <input class="u-full-width" type="text" name="referenceImage">
            </div>
          </div>
        </div>
      </div>

    </form>
    {{/if}}

    </div>
    <div id="save-row" class="row">
    <button class="button-primary save-new" id="bottom-save">
          <i class="fa fa-floppy-o"></i> Save
    </button>
    </div>
  {{> foot}}
</html>
