<!DOCTYPE html>
<!--
  nayar/app/templates/index.handlebars
  https://github.com/thomasrstorey/nayar

  Copyright (c) 2015 thomasrstorey
  Licensed under the MIT license.
-->
<html>
  {{> head}}
    <div class="row">
      <h2>Object: {{id}}</h2>
      {{#breadcrumbs breadcrumbs 'object'}}{{/breadcrumbs}}
      <div class="row">
      <button id="top-save" class="save-button">
            <i class="fa fa-floppy-o"></i> Save
      </button>
      <label> ID: {{id}}</label>
    </div>
    <form id='update' method="post" action="/object/{{id}}">
      <div class="row">
        <div class="row">
          <div class="four columns">
            <label>Content Type</label>
            <input class="u-full-width" type='text' name='contentType' value="{{contentType}}"/>
          </div>
          <div class="eight columns">
            <label>URL</label>
            <input class="u-full-width" type='url' name='url' value="{{url}}"/>
          </div>
        </div>
        <div class="row">
          <div class="four columns">
            <label>Size</label>
            <input class="u-full-width" type='number' name='size'  value="{{size}}"/>
          </div>
          <div class="eight columns">
            <label>Preview Image</label>
            <input class="u-full-width" type='text' name='previewImage' value="{{previewImage}}"/>
          </div>
        </div>
      </div>
    </form>
    <div id="save-row" class="row">
    <button id="bottom-save" class="save-button">
          <i class="fa fa-floppy-o"></i> Save
    </button>
    </div>
    </div>
  {{> foot}}
</html>
